In [53]:
# Importing required libraries
import requests

In [54]:
from bs4 import BeautifulSoup

In [55]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\vedsh\miniconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vedsh\miniconda3\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vedsh\miniconda3\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vedsh\miniconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vedsh\miniconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\vedsh\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [56]:
pip install lxml

Requirement already satisfied: lxml in c:\users\vedsh\miniconda3\lib\site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

In [57]:
pip install html5lib

Requirement already satisfied: html5lib in c:\users\vedsh\miniconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\vedsh\miniconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\vedsh\miniconda3\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [58]:
import pandas as pd

In [5]:
standings_url = "https://fbref.com/en/comps/9/2017-2018/2017-2018-Premier-League-Stats"

In [6]:
# Fetching data from the specified URL
data = requests.get(standings_url)

In [7]:
# Parsing the fetched HTML content
soup = BeautifulSoup(data.text)

In [8]:
standings_table=soup.select('table.stats_table')[0]

In [10]:
links = standings_table.find_all('a')

In [11]:
links=[l.get("href") for l in links]

In [12]:
links

['/en/squads/b8fd03ef/2017-2018/Manchester-City-Stats',
 '/en/players/4d034881/Sergio-Aguero',
 '/en/players/3bb7b8b4/Ederson',
 '/en/squads/19538871/2017-2018/Manchester-United-Stats',
 '/en/players/5eae500a/Romelu-Lukaku',
 '/en/players/7ba6d84e/David-de-Gea',
 '/en/squads/361ca564/2017-2018/Tottenham-Hotspur-Stats',
 '/en/players/21a66f6a/Harry-Kane',
 '/en/players/8f62b6ee/Hugo-Lloris',
 '/en/squads/822bd0ba/2017-2018/Liverpool-Stats',
 '/en/players/e342ad68/Mohamed-Salah',
 '/en/players/32e7ce92/Loris-Karius',
 '/en/players/d436eb94/Simon-Mignolet',
 '/en/squads/cff3d9bb/2017-2018/Chelsea-Stats',
 '/en/players/a39bb753/Eden-Hazard',
 '/en/players/1840e36d/Thibaut-Courtois',
 '/en/squads/18bb7c10/2017-2018/Arsenal-Stats',
 '/en/players/9dbb75ca/Alexandre-Lacazette',
 '/en/players/71672fa0/Petr-Cech',
 '/en/squads/943e8050/2017-2018/Burnley-Stats',
 '/en/players/4e9a0555/Chris-Wood',
 '/en/players/4b40d9ca/Nick-Pope',
 '/en/squads/d3fd31cc/2017-2018/Everton-Stats',
 '/en/players/f07be45a/Wayne-Rooney',
 '/en/players/4806ec67/Jordan-Pickford',
 '/en/squads/a2d435b3/2017-2018/Leicester-City-Stats',
 '/en/players/45963054/Jamie-Vardy',
 '/en/players/53af52f3/Kasper-Schmeichel',
 '/en/squads/b2b47a98/2017-2018/Newcastle-United-Stats',
 '/en/players/819aa8e7/Ayoze-Perez',
 '/en/players/b1b25949/Rob-Elliot',
 '/en/squads/47c64c55/2017-2018/Crystal-Palace-Stats',
 '/en/players/2ce2508a/Luka-Milivojevic',
 '/en/players/76eca7e2/Wayne-Hennessey',
 '/en/squads/4ba7cbea/2017-2018/Bournemouth-Stats',
 '/en/players/43458538/Joshua-King',
 '/en/players/c596fcb0/Callum-Wilson',
 '/en/players/7b4de647/Asmir-Begovic',
 '/en/squads/7c21e445/2017-2018/West-Ham-United-Stats',
 '/en/players/00459419/Marko-Arnautovic',
 '/en/players/cb4f24c6/Joe-Hart',
 '/en/players/f76e6b4e/Adrian',
 '/en/squads/2abfe087/2017-2018/Watford-Stats',
 '/en/players/02b29014/Abdoulaye-Doucoure',
 '/en/players/d596e193/Heurelho-Gomes',
 '/en/squads/d07537b9/2017-2018/Brighton-and-Hove-Albion-Stats',
 '/en/players/f2f29dda/Glenn-Murray',
 '/en/players/4535e4bb/Mathew-Ryan',
 '/en/squads/f5922ca5/2017-2018/Huddersfield-Town-Stats',
 '/en/players/19ba6c6d/Steve-Mounie',
 '/en/players/939bc634/Jonas-Lossl',
 '/en/squads/33c895d4/2017-2018/Southampton-Stats',
 '/en/players/8d228291/Charlie-Austin',
 '/en/players/c3e39f12/Fraser-Forster',
 '/en/squads/fb10988f/2017-2018/Swansea-City-Stats',
 '/en/players/da052c14/Jordan-Ayew',
 '/en/players/9328b835/Lukasz-Fabianski',
 '/en/squads/17892952/2017-2018/Stoke-City-Stats',
 '/en/players/6421ec64/Xherdan-Shaqiri',
 '/en/players/cc70a1d5/Jack-Butland',
 '/en/squads/60c6b05f/2017-2018/West-Bromwich-Albion-Stats',
 '/en/players/4ab53cdb/Jay-Rodriguez',
 '/en/players/b318a643/Salomon-Rondon',
 '/en/players/d0b3ceb9/Ben-Foster']

In [13]:
links= [l for l in links if '/squads/' in l]

In [14]:
links

['/en/squads/b8fd03ef/2017-2018/Manchester-City-Stats',
 '/en/squads/19538871/2017-2018/Manchester-United-Stats',
 '/en/squads/361ca564/2017-2018/Tottenham-Hotspur-Stats',
 '/en/squads/822bd0ba/2017-2018/Liverpool-Stats',
 '/en/squads/cff3d9bb/2017-2018/Chelsea-Stats',
 '/en/squads/18bb7c10/2017-2018/Arsenal-Stats',
 '/en/squads/943e8050/2017-2018/Burnley-Stats',
 '/en/squads/d3fd31cc/2017-2018/Everton-Stats',
 '/en/squads/a2d435b3/2017-2018/Leicester-City-Stats',
 '/en/squads/b2b47a98/2017-2018/Newcastle-United-Stats',
 '/en/squads/47c64c55/2017-2018/Crystal-Palace-Stats',
 '/en/squads/4ba7cbea/2017-2018/Bournemouth-Stats',
 '/en/squads/7c21e445/2017-2018/West-Ham-United-Stats',
 '/en/squads/2abfe087/2017-2018/Watford-Stats',
 '/en/squads/d07537b9/2017-2018/Brighton-and-Hove-Albion-Stats',
 '/en/squads/f5922ca5/2017-2018/Huddersfield-Town-Stats',
 '/en/squads/33c895d4/2017-2018/Southampton-Stats',
 '/en/squads/fb10988f/2017-2018/Swansea-City-Stats',
 '/en/squads/17892952/2017-2018/Stoke-City-Stats',
 '/en/squads/60c6b05f/2017-2018/West-Bromwich-Albion-Stats']

In [15]:
team_urls = [f"https://fbref.com{l}" for l in links]

In [16]:
team_urls

['https://fbref.com/en/squads/b8fd03ef/2017-2018/Manchester-City-Stats',
 'https://fbref.com/en/squads/19538871/2017-2018/Manchester-United-Stats',
 'https://fbref.com/en/squads/361ca564/2017-2018/Tottenham-Hotspur-Stats',
 'https://fbref.com/en/squads/822bd0ba/2017-2018/Liverpool-Stats',
 'https://fbref.com/en/squads/cff3d9bb/2017-2018/Chelsea-Stats',
 'https://fbref.com/en/squads/18bb7c10/2017-2018/Arsenal-Stats',
 'https://fbref.com/en/squads/943e8050/2017-2018/Burnley-Stats',
 'https://fbref.com/en/squads/d3fd31cc/2017-2018/Everton-Stats',
 'https://fbref.com/en/squads/a2d435b3/2017-2018/Leicester-City-Stats',
 'https://fbref.com/en/squads/b2b47a98/2017-2018/Newcastle-United-Stats',
 'https://fbref.com/en/squads/47c64c55/2017-2018/Crystal-Palace-Stats',
 'https://fbref.com/en/squads/4ba7cbea/2017-2018/Bournemouth-Stats',
 'https://fbref.com/en/squads/7c21e445/2017-2018/West-Ham-United-Stats',
 'https://fbref.com/en/squads/2abfe087/2017-2018/Watford-Stats',
 'https://fbref.com/en/squads/d07537b9/2017-2018/Brighton-and-Hove-Albion-Stats',
 'https://fbref.com/en/squads/f5922ca5/2017-2018/Huddersfield-Town-Stats',
 'https://fbref.com/en/squads/33c895d4/2017-2018/Southampton-Stats',
 'https://fbref.com/en/squads/fb10988f/2017-2018/Swansea-City-Stats',
 'https://fbref.com/en/squads/17892952/2017-2018/Stoke-City-Stats',
 'https://fbref.com/en/squads/60c6b05f/2017-2018/West-Bromwich-Albion-Stats']

In [17]:
team_url= team_urls[0]

In [18]:
team_url

'https://fbref.com/en/squads/b8fd03ef/2017-2018/Manchester-City-Stats'

In [22]:
# Fetching data from the specified URL#
data= requests.get(team_url)

In [23]:
from io import StringIO

In [24]:
html_content = StringIO(data.text)

In [25]:
matches = pd.read_html(html_content, match="Scores & Fixtures")

In [26]:
soup = BeautifulSoup(data.text)

In [29]:
links = soup.find_all('a')

In [30]:
links = [l.get("href") for l in links]

In [31]:
links = [ l for l in links if l and 'all_comps/shooting/' in l ]

In [32]:
links

['/en/squads/b8fd03ef/2017-2018/matchlogs/all_comps/shooting/Manchester-City-Match-Logs-All-Competitions',
 '/en/squads/b8fd03ef/2017-2018/matchlogs/all_comps/shooting/Manchester-City-Match-Logs-All-Competitions',
 '/en/squads/b8fd03ef/2017-2018/matchlogs/all_comps/shooting/Manchester-City-Match-Logs-All-Competitions',
 '/en/squads/b8fd03ef/2017-2018/matchlogs/all_comps/shooting/Manchester-City-Match-Logs-All-Competitions']

In [33]:
data = requests.get(f"https://fbref.com{links[0]}")

In [34]:
html_content_new = StringIO(data.text)

In [35]:
shooting = pd.read_html(html_content_new, match = "Shooting")[0]

In [36]:
shooting.head()

  For Manchester City                                                        \
                 Date   Time            Comp        Round  Day Venue Result
0          2017-08-12  17:30  Premier League  Matchweek 1  Sat  Away      W
1          2017-08-21  20:00  Premier League  Matchweek 2  Mon  Home      D
2          2017-08-26  12:30  Premier League  Matchweek 3  Sat  Away      W
3          2017-09-09  12:30  Premier League  Matchweek 4  Sat  Home      W
4          2017-09-13  20:45    Champions Lg  Group stage  Wed  Away      W

                       ... Standard               Expected                    \
  GF GA      Opponent  ...     Dist   FK PK PKatt       xG npxG npxG/Sh G-xG
0  2  0      Brighton  ...     19.5  2.0  0     0      1.9  1.9    0.17 -0.9
1  1  1       Everton  ...     20.0  1.0  0     0      1.1  1.1    0.06 -0.1
2  2  1   Bournemouth  ...     16.2  1.0  0     0      1.4  1.4    0.08  0.6
3  5  0     Liverpool  ...     14.0  0.0  0     0      2.4  2.4    0.18  2.6
4  4  0  nl Feyenoord  ...     14.4  0.0  0     0      1.3  1.3    0.12  2.7

          Unnamed: 25_level_0
  np:G-xG        Match Report
0    -0.9        Match Report
1    -0.1        Match Report
2     0.6        Match Report
3     2.6        Match Report
4     2.7        Match Report

[5 rows x 26 columns]

In [37]:
shooting.columns = shooting.columns.droplevel()

In [38]:
shooting.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Match Report
0,2017-08-12,17:30,Premier League,Matchweek 1,Sat,Away,W,2,0,Brighton,...,19.5,2.0,0,0,1.9,1.9,0.17,-0.9,-0.9,Match Report
1,2017-08-21,20:00,Premier League,Matchweek 2,Mon,Home,D,1,1,Everton,...,20.0,1.0,0,0,1.1,1.1,0.06,-0.1,-0.1,Match Report
2,2017-08-26,12:30,Premier League,Matchweek 3,Sat,Away,W,2,1,Bournemouth,...,16.2,1.0,0,0,1.4,1.4,0.08,0.6,0.6,Match Report
3,2017-09-09,12:30,Premier League,Matchweek 4,Sat,Home,W,5,0,Liverpool,...,14.0,0.0,0,0,2.4,2.4,0.18,2.6,2.6,Match Report
4,2017-09-13,20:45,Champions Lg,Group stage,Wed,Away,W,4,0,nl Feyenoord,...,14.4,0.0,0,0,1.3,1.3,0.12,2.7,2.7,Match Report

In [39]:
team_data = matches[0].merge(shooting[["Date","Sh","SoT","Dist","FK","PK","PKatt"]] , on = "Date")

In [40]:
team_data.head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,...,Opp Formation,Referee,Match Report,Notes,Sh,SoT,Dist,FK,PK,PKatt
0,2017-08-12,17:30,Premier League,Matchweek 1,Sat,Away,W,2,0,Brighton,...,4-4-2,Michael Oliver,Match Report,NaN,14,4,19.5,2.0,0,0
1,2017-08-21,20:00,Premier League,Matchweek 2,Mon,Home,D,1,1,Everton,...,3-5-2,Robert Madley,Match Report,NaN,19,6,20.0,1.0,0,0
2,2017-08-26,12:30,Premier League,Matchweek 3,Sat,Away,W,2,1,Bournemouth,...,5-3-2,Mike Dean,Match Report,NaN,19,8,16.2,1.0,0,0
3,2017-09-09,12:30,Premier League,Matchweek 4,Sat,Home,W,5,0,Liverpool,...,4-3-3,Jonathan Moss,Match Report,NaN,13,10,14.0,0.0,0,0
4,2017-09-13,20:45,Champions Lg,Group stage,Wed,Away,W,4,0,nl Feyenoord,...,3-4-3,Szymon Marciniak,Match Report,NaN,11,7,14.4,0.0,0,0

In [59]:
ranking_url = "https://www.clubranking.eu/5-year-ranking-2018/"

In [60]:
ranking =  requests.get(ranking_url)

In [61]:
rank = BeautifulSoup(ranking.text)

In [64]:
# Find the div using data-id
table_div = rank.find('div', {'data-id': 'baba125'})

In [65]:
table = table_div.find('table')

# Extract table rows
rows = table.find_all('tr')

In [66]:
# Extract headers
headers = [header.text.strip() for header in rows[0].find_all('td')]

In [67]:
print(headers)

['Rank', '', 'Points', 'League']

In [68]:
headers = ['Rank','Logo' ,'Club', 'Points', 'League']

In [69]:
data = []
for row in rows:  # Skip the header row
    cells = row.find_all('td')
    data.append([cell.text.strip() for cell in cells])

# Create the DataFrame
df = pd.DataFrame(data, columns=headers)

# Display the DataFrame
print(df)

     Rank Logo                 Club  Points League
0    Rank                    Points  League   None
1      1.            Real Madrid CF  651,90
2      2.              FC Barcelona  641,66
3      3.         FC Bayern München  624,47
4      4.               Juventus FC  604,61
..    ...  ...                  ...     ...    ...
96    96.                 Málaga CF  202,99
97    97.           FK Rubin Kazan‘  201,71
98    98.                HNK Rijeka  201,70
99    99.               EA Guingamp  200,32
100  100.       Maccabi Tel-Aviv FC  198,39

[101 rows x 5 columns]

In [70]:
# Keep only the 'Rank' and 'Club' columns
df = df[['Rank', 'Club']]

# Reset the index to remove the default pandas index
df = df.reset_index(drop=True)

# Display the updated DataFrame
print(df)

     Rank                 Club
0    Rank               Points
1      1.       Real Madrid CF
2      2.         FC Barcelona
3      3.    FC Bayern München
4      4.          Juventus FC
..    ...                  ...
96    96.            Málaga CF
97    97.      FK Rubin Kazan‘
98    98.           HNK Rijeka
99    99.          EA Guingamp
100  100.  Maccabi Tel-Aviv FC

[101 rows x 2 columns]

In [71]:
# Remove 'FC' and 'CF' from the 'Club' column
df['Club'] = df['Club'].str.replace(r'\bFC\b|\bCF\b', '', regex=True).str.strip()
# Remove the first row
df = df.drop(index=0).reset_index(drop=True)
# Display the updated DataFrame
print(df)

    Rank                     Club
0     1.              Real Madrid
1     2.                Barcelona
2     3.           Bayern München
3     4.                 Juventus
4     5.  Club Atlético de Madrid
..   ...                      ...
95   96.                   Málaga
96   97.          FK Rubin Kazan‘
97   98.               HNK Rijeka
98   99.              EA Guingamp
99  100.         Maccabi Tel-Aviv

[100 rows x 2 columns]

In [72]:
pd.set_option('display.max_rows', None)

# Now print the entire DataFrame
print(df)

    Rank                          Club
0     1.                   Real Madrid
1     2.                     Barcelona
2     3.                Bayern München
3     4.                      Juventus
4     5.       Club Atlético de Madrid
5     6.               Manchester City
6     7.           Paris Saint-Germain
7     8.                       Chelsea
8     9.                       Arsenal
9    10.                    SSC Napoli
10   11.             Manchester United
11   12.       BV Borussia 09 Dortmund
12   13.                       Sevilla
13   14.                       AS Roma
14   15.             Tottenham Hotspur
15   16.                     Liverpool
16   17.                    SL Benfica
17   18.                         Porto
18   19.          FK Shakhtar Donetsʹk
19   20.                     AS Monaco
20   21.     FK Zenit Sankt Petersburg
21   22.           Bayer 04 Leverkusen
22   23.                    Villarreal
23   24.                      SS Lazio
24   25.                ACF Fiorentina
25   26.               PFK CSKA Moskva
26   27.                    Schalke 04
27   28.    Sporting Clube de Portugal
28   29.                 Athletic Club
29   30.                FK Dynamo Kyiv
30   31.                   Beşiktaş JK
31   32.            Olympique Lyonnais
32   33.                      Valencia
33   34.         Internazionale Milano
34   35.                      AC Milan
35   36.  VfL Borussia Mönchengladbach
36   37.                 VfL Wolfsburg
37   38.                    Basel 1893
38   39.                 Fenerbahçe SK
39   40.                      AFC Ajax
40   41.                Galatasaray SK
41   42.                       Everton
42   43.                Olympiakós SFP
43   44.                Club Brugge KV
44   45.                 PSV Eindhoven
45   46.                  FK Krasnodar
46   47.        Olympique de Marseille
47   48.       Real Sociedad de Fútbol
48   49.              RC Celta de Vigo
49   50.           FK Lokomotiv Moskva
50   51.                   Southampton
51   52.             Red Bull Salzburg
52   53.             FK Spartak Moskva
53   54.                RSC Anderlecht
54   55.              AS Saint-Étienne
55   56.                      SC Braga
56   57.           TSG 1899 Hoffenheim
57   58.    Atalanta Bergamasca Calcio
58   59.                        Torino
59   60.           Feyenoord Rotterdam
60   61.     RCD Espanyol de Barcelona
61   62.        SG Eintracht Frankfurt
62   63.               West Ham United
63   64.                      KAA Gent
64   65.                Viktoria Plzeň
65   66.                Leicester City
66   67.                      PAE PAOK
67   68.                1.FSV Mainz 05
68   69.                    Stoke City
69   70.                      Augsburg
70   71.                      OGC Nice
71   72.               AC Sparta Praha
72   73.                  Swansea City
73   74.                        Celtic
74   75.                    AZ Alkmaar
75   76.         Girondins de Bordeaux
76   77.             GNK Dinamo Zagreb
77   78.                  UC Sampdoria
78   79.                     FK Rostov
79   80.                Crystal Palace
80   81.                BSC Young Boys
81   82.                      KRC Genk
82   83.              SV Werder Bremen
83   84.                    LOSC Lille
84   85.            US Sassuolo Calcio
85   86.        İstanbul Başakşehir FK
86   87.        PFK Ludogorets Razgrad
87   88.              Steaua Bucureşti
88   89.                         APOEL
89   90.                    Hertha BSC
90   91.                     København
91   92.       Royal Standard de Liège
92   93.                   Trabzonspor
93   94.                Genoa CFC 1893
94   95.             FK Zorya Luhansʹk
95   96.                        Málaga
96   97.               FK Rubin Kazan‘
97   98.                    HNK Rijeka
98   99.                   EA Guingamp
99  100.              Maccabi Tel-Aviv

In [73]:
df['Club'] = df['Club'].replace({
    'Manchester United': 'Manchester Utd',
    'Tottenham Hotspur': 'Tottenham',
    'West Ham United': 'West Ham'
})

# Print the updated DataFrame
print(df)

    Rank                          Club
0     1.                   Real Madrid
1     2.                     Barcelona
2     3.                Bayern München
3     4.                      Juventus
4     5.       Club Atlético de Madrid
5     6.               Manchester City
6     7.           Paris Saint-Germain
7     8.                       Chelsea
8     9.                       Arsenal
9    10.                    SSC Napoli
10   11.                Manchester Utd
11   12.       BV Borussia 09 Dortmund
12   13.                       Sevilla
13   14.                       AS Roma
14   15.                     Tottenham
15   16.                     Liverpool
16   17.                    SL Benfica
17   18.                         Porto
18   19.          FK Shakhtar Donetsʹk
19   20.                     AS Monaco
20   21.     FK Zenit Sankt Petersburg
21   22.           Bayer 04 Leverkusen
22   23.                    Villarreal
23   24.                      SS Lazio
24   25.                ACF Fiorentina
25   26.               PFK CSKA Moskva
26   27.                    Schalke 04
27   28.    Sporting Clube de Portugal
28   29.                 Athletic Club
29   30.                FK Dynamo Kyiv
30   31.                   Beşiktaş JK
31   32.            Olympique Lyonnais
32   33.                      Valencia
33   34.         Internazionale Milano
34   35.                      AC Milan
35   36.  VfL Borussia Mönchengladbach
36   37.                 VfL Wolfsburg
37   38.                    Basel 1893
38   39.                 Fenerbahçe SK
39   40.                      AFC Ajax
40   41.                Galatasaray SK
41   42.                       Everton
42   43.                Olympiakós SFP
43   44.                Club Brugge KV
44   45.                 PSV Eindhoven
45   46.                  FK Krasnodar
46   47.        Olympique de Marseille
47   48.       Real Sociedad de Fútbol
48   49.              RC Celta de Vigo
49   50.           FK Lokomotiv Moskva
50   51.                   Southampton
51   52.             Red Bull Salzburg
52   53.             FK Spartak Moskva
53   54.                RSC Anderlecht
54   55.              AS Saint-Étienne
55   56.                      SC Braga
56   57.           TSG 1899 Hoffenheim
57   58.    Atalanta Bergamasca Calcio
58   59.                        Torino
59   60.           Feyenoord Rotterdam
60   61.     RCD Espanyol de Barcelona
61   62.        SG Eintracht Frankfurt
62   63.                      West Ham
63   64.                      KAA Gent
64   65.                Viktoria Plzeň
65   66.                Leicester City
66   67.                      PAE PAOK
67   68.                1.FSV Mainz 05
68   69.                    Stoke City
69   70.                      Augsburg
70   71.                      OGC Nice
71   72.               AC Sparta Praha
72   73.                  Swansea City
73   74.                        Celtic
74   75.                    AZ Alkmaar
75   76.         Girondins de Bordeaux
76   77.             GNK Dinamo Zagreb
77   78.                  UC Sampdoria
78   79.                     FK Rostov
79   80.                Crystal Palace
80   81.                BSC Young Boys
81   82.                      KRC Genk
82   83.              SV Werder Bremen
83   84.                    LOSC Lille
84   85.            US Sassuolo Calcio
85   86.        İstanbul Başakşehir FK
86   87.        PFK Ludogorets Razgrad
87   88.              Steaua Bucureşti
88   89.                         APOEL
89   90.                    Hertha BSC
90   91.                     København
91   92.       Royal Standard de Liège
92   93.                   Trabzonspor
93   94.                Genoa CFC 1893
94   95.             FK Zorya Luhansʹk
95   96.                        Málaga
96   97.               FK Rubin Kazan‘
97   98.                    HNK Rijeka
98   99.                   EA Guingamp
99  100.              Maccabi Tel-Aviv

In [75]:
# Access headers of team_data
headers = team_data.columns

# Print the headers
print(headers)

Index(['Date', 'Time', 'Comp', 'Round', 'Day', 'Venue', 'Result', 'GF', 'GA',
       'Opponent', 'xG', 'xGA', 'Poss', 'Attendance', 'Captain', 'Formation',
       'Opp Formation', 'Referee', 'Match Report', 'Notes', 'Sh', 'SoT',
       'Dist', 'FK', 'PK', 'PKatt'],
      dtype='object')

In [76]:
# Merge the tables so that 'team_data' gets a new 'Rank' column from 'df'
merged_data = team_data.merge(df[['Club','Rank']], left_on='Opponent', right_on='Club', how='left')

# Remove the 'Club' column from merged_data
merged_data = merged_data.drop(columns=['Club'])

# Display the result (top 5 rows)
print(merged_data.head())

         Date   Time            Comp        Round  Day Venue Result GF GA  \
0  2017-08-12  17:30  Premier League  Matchweek 1  Sat  Away      W  2  0
1  2017-08-21  20:00  Premier League  Matchweek 2  Mon  Home      D  1  1
2  2017-08-26  12:30  Premier League  Matchweek 3  Sat  Away      W  2  1
3  2017-09-09  12:30  Premier League  Matchweek 4  Sat  Home      W  5  0
4  2017-09-13  20:45    Champions Lg  Group stage  Wed  Away      W  4  0

       Opponent  ...           Referee  Match Report  Notes  Sh SoT  Dist  \
0      Brighton  ...    Michael Oliver  Match Report    NaN  14   4  19.5
1       Everton  ...     Robert Madley  Match Report    NaN  19   6  20.0
2   Bournemouth  ...         Mike Dean  Match Report    NaN  19   8  16.2
3     Liverpool  ...     Jonathan Moss  Match Report    NaN  13  10  14.0
4  nl Feyenoord  ...  Szymon Marciniak  Match Report    NaN  11   7  14.4

    FK PK PKatt Rank
0  2.0  0     0  NaN
1  1.0  0     0  42.
2  1.0  0     0  NaN
3  0.0  0     0  16.
4  0.0  0     0  NaN

[5 rows x 27 columns]